# Python
__pycache__/
*.pyc
.env
!.env.example
venv/
instance/
migrations/
app.db
*.sqlite3
uploads/
static/
backend/uploads/

# Node.js
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-error.log*
package-lock.json

# IDE / Editor specific
.vscode/
.idea/
*.swp

#backend里面的logs文件夹
backend/logs/

# 整个frontend-classical目录
frontend-classical/

# 整个boothApp/目录
boothApp/

# 所有.zip文件
*.zip
# 所有.tar.gz文件
*.tar.gz